node_modules
.env
.phpunit.result.cache
/vendor
/public/build
/storage/*
!/storage/app/
!/storage/app/.gitignore
!/storage/framework/
!/storage/framework/.gitignore
!/storage/logs/
!/storage/logs/.gitignore
/storage/framework/views/*
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*